@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #334155;
}



body {
  color: var(--foreground);
  background: var(--background);
}

.btn-primary {
  @apply bg-secondary text-white py-3 px-6 rounded-full font-bold uppercase tracking-wide inline-flex items-center gap-2 transition-all hover:bg-secondary-dark hover:scale-105 shadow-lg shadow-secondary/30;
}

.btn-secondary {
  @apply bg-transparent border-2 border-primary text-primary py-3 px-6 rounded font-semibold transition-all hover:bg-primary hover:text-white;
}